<div id="funciona" style="width: 100%; height: 500px;">
    <h2 
        style="color: #923C54;  
        font-size: 50px; 
        font-family:Quicksand; 
        font-weight: normal; 
        text-align: center; 
        padding-top: 120px;"
        >SERVICIOS</h2>

    <div class="content_img" style="margin-top: 80px;" >
        <p style="background-color: #EABE94;" >Fotografía de boda</p>
        
        <img src='./img/Boda1.jpg' width='100%' height='100%'>
        
        <div>
            Las fotografías, son algo esencial que no puede faltar el día de una boda. Nuestro fotógrafo de bodas creará fotos únicas que quedarán para siempre en la memoria y en los álbumes de una familia.
        </div>
    </div>
    
    <div id="funciona" style="width: 100%; height: 500px;">
        <div class="content_img"  style="margin-top: 80px;" >
        <p style="background-color: #279589;">Fotografía de moda</p>
        
        <img src='./img/Moda1.jpg' width='100%' height='100%'>
        
        <div>
            Con este servicio te ayudamos a ilustrar ropa, joyas, cosméticos y otros artículos relacionados con la moda. Nuestro fotógrafo plasmará su talento, creatividad y técnicas de fotografía para que te veas espectacular modelando tu atuendo.
        </div>
    </div>
    
    <div id="funciona" style="width: 100%; height: 500px;">
        <div class="content_img"  style="margin-top: 80px;" >
        <p style="background-color: #32424C;" >Fotografía de graduación</p>

        <img src='./img/graduación1.jpg' width='100%' height='100%'>

        <div>
            Si estas próximo a graduarte y quieres guardar recuerdos inolvidables, debes tener un fotógrafo experimentado que haga de esta celebración un momento único.
        </div> 
    </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Ir arriba"><img src="./img/subir.jpg"> </button>