<div class="slider">
    <div class="slides">
        <div class="slide">
            <div class="slide-data">
                <h1>BIENVENIDO</h1>
            </div>
        </div>
        <div class="slide">
            <div class="slide-data">
                <h1>BIENVENIDO</h1>
            </div>
        </div>
        <div class="slide">
            <div class="slide-data">
                <h1>BIENVENIDO</h1>
            </div>
        </div>
    </div>

    <button class="arrows prev" onclick="plusslide(-1)">
        <span><i class="fas fa-angle-left"></i></span>
    </button>
    <button class="arrows next" onclick="plusslide(1)">
        <span><i class="fas fa-angle-right"></i></span>
    </button>

    <div class="dots">
        <span onclick="currentslide(1)"></span>
        <span onclick="currentslide(2)"></span>
        <span onclick="currentslide(3)"></span>
    </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Ir arriba"><img src="./img/subir.jpg"> </button>