<div class="row">
    <div class="column1" style="background-color:white;">
        <h2 
            style="color: #923C54;  
            font-size: 40px; 
            font-family:Quicksand; 
            font-weight: normal; 
            text-align: center; 
            padding-top: 120px;">VISIÓN</h2>

        <p style="color: black;  
        font-size: 20px; 
        font-family:Quicksand; 
        font-weight: normal; 
        text-align: justify; 
        padding-top: 50px;
        padding-left: 115px;
        padding-right: 115px;">Ser una de las mejores empresas de fotografía profesional, ofrecer amplios servicios y mayor cobertura a nivel nacional, utilizando tecnologías modernas y tener un contacto más directo con nuestros clientes.</p>

        <audio class="audio" controls src="./img/visión.mp3"></audio>
    </div>

    <div class="column2" style="background-color:#96D1CD;">
       <img src="./img/bodanosotros.jpg" alt="" style="width: 100%; height: 100%;">
    </div>
</div>