<div style="margin-bottom: 80px; height: 800px; width: 100%;">
    <h2 
    style="color: #923C54;  
    font-size: 40px; 
    font-family:Quicksand; 
    font-weight: normal; 
    text-align: center; 
    padding-top: 120px;"
    >CONTACTO</h2>

    <div style="margin-left: 370px; margin-top: 50px; margin-bottom: 50px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15138.211951793763!2d-69.99076534999999!3d18.45859445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sdo!4v1622339642505!5m2!1ses-419!2sdo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <h2 
    style="color: #923C54;  
    font-size: 30px; 
    font-family:Quicksand; 
    font-weight: normal; 
    text-align: center; 
    padding-top: 20px;"
    >ESTUDIO</h2>
    
    <h2 
    style="color: black;  
    font-size: 20px; 
    font-family:Quicksand; 
    font-weight: normal; 
    text-align: center; 
    padding-top: 30px;"
    >DG ART - Edificio 46 <br> Calle María Trinidad Sánchez, Sto.Dgo Oeste <br><br> Tel: 802-222-2222</h2>

    <h2 
    style="color: #923C54;  
    font-size: 25px; 
    font-family:Quicksand; 
    font-weight: normal; 
    text-align: center; 
    padding-top: 40px;"
    >Contáctanos a través de nuestro correo</h2>

    <form action="/contacto" method="post">
        <ul>
        <li>
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="nombre">
        </li>
        <li>
        <label for="mail">Correo electrónico:</label>
        <input type="email" id="mail" name="correo">
        </li>
        <li>
        <label for="msg">Mensaje:</label>
        <textarea id="msg" name="mensaje"></textarea>
        </li>
        <li>
            <button type="submit">Enviar</button>
        </li>
        </ul>

    </form>
    
    <button onclick="topFunction()" id="myBtn" title="Ir arriba"><img src="./img/subir.jpg"> </button>