<div style="margin-bottom: 80px;">
    <h2 
    style="color: #923C54;  
    font-size: 50px; 
    font-family:Quicksand; 
    font-weight: normal; 
    text-align: center; 
    padding-top: 120px;"
    >PROYECTOS</h2>

    <div style="display: flex;flex-wrap: wrap; width: 850px; margin-left: 310px; margin-top: 80px;">
        <img class="opacidad" src="./img/bodapatrick.jpg" alt="" style="width: 350px; height: 225px; margin-right: 50px;">
        <img class="opacidad" src="./img/bodaa.jpg" alt="" style="width: 350; height: 225px; margin-right: 50px;">
        <img class="opacidad" src="./img/graduados.jpg" alt="" style="width: 350px; height: 225px; margin-right: 50px; margin-top: 80px;">
        <img class="opacidad" src="./img/graduados2.jpg" alt="" style="width: 335px; height: 225px; margin-right: 50px;margin-top: 80px;">
        <img class="opacidad" src="./img/abrigo.jpg" alt="" style="width: 350px; height: 225px; margin-right: 50px;margin-top: 80px;">
        <img class="opacidad" src="./img/modelos.jpg" alt="" style="width: 335px; height: 225px; margin-right: 50px;margin-top: 80px;">
    </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Ir arriba"><img src="./img/subir.jpg"></button>
<img class="gif" src="./img/VIDEO_Trim_Trim.gif">