<div id="A">
    <div id="B">
        <a href="https://www.instagram.com/dila_photographs/?utm_medium=copy_link" target="_blank"><img src="img/Instagram.png"></a>
        <a href="https://outlook.live.com/mail/inbox" target="_blank"><img src="img/Correo.png"> </a>
    </div>
    
</div>

<script>
    var mybutton = document.getElementById("myBtn");

    function myFunction() {
      var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
      var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      var scrolled = (winScroll / height) * 100;
      document.getElementById("myBar").style.width = scrolled + "%";
      document.getElementById("myBar").style.background = "#1AA79E";
    };


    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }       
    window.onscroll = function () {
      scrollFunction();
      myFunction();
    };
  </script>