<div id="contenedor1">
    <div id="div1">DG ART</div>
    <div id="div2">
        <ul id="botones">
            <li><a href="/">Inicio</a></li>
            <li><a href="/servicios">Servicios</a></li>
            
            <div  class="dropdown">
                <li  style="width: 177px; height: 18px; margin-top: 5px;"> <a href="/nosotros">Nosotros</a></li>
                <div class="dropdown-content">
                    <a href="/mision">Misión</a>
                    <a href="/vision">Visión</a>
                    <a href="/valores">Valores</a>
                </div>
            </div>
            <li><a href="/proyectos">Proyectos</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </div>    
</div>    