<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>      
</head>
<body>

    <header>
        <%- include('../partials/header') %>
    </header>

    <%- include('../partials/bodyInicio') %>

    <footer>
        <%- include('../partials/footer') %>      
    </footer>

</body>

<script src="./scripts/script.js"></script>

</html>